#layered-filter-block{
	display: none;
}

.panel .wrapper{
	background: black;
	color: white;
}

.panel .wrapper a{
	color: white;
}

.black-detail-main{
	background-color: black !important;
}
.action .primary .tocart{
	background-color: gold !important;
}

.base{
	color: gold !important;
}

.image-block-wrapper-anchor{
	height: 580;
}

.catalog-product-view .price-box .no-price{
	background: black;
	color: white;
}
